<%= form_with(model: @blog, local: true ,data: { confirm: '本当につぶやきますか？' } ) do |form| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= @blog.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @blog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<p><%= notice %></p>

  <div class="blog_content">
    <%= form.label :content %>
    <%= form.text_field :content %><br>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image, id: :user_image %>
    <%= form.hidden_field :image_cache %>
  </div>

  <%= form.submit class: "btn_index" %>

<% end %>
